<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>

<h1>Codeial / <%= title %></h1>

<div class="posts">
    <h1>Posts</h1>
    <% if(locals.user) { %>
    <form action="/posts/create" method="post">
        <textarea name="content" cols="30" rows="3" required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
</div>

<div class="show-posts" >
    <ul> 
        <% for ( i of post ) { %> 
            <li>
                <div class="delete" >
                    <% if (locals.user && locals.user.id == i.user.id)   { %>
                    <a href="/posts/delete/<%= i.id %>">X</a>
                    <% } %>
                </div>
                <h4 class="user-content" ><%= i.content %></h4>
                <h6 class="user" >Posted by <%= i.user.username %></h6>
                
                <%- include('_postComments'); %>
                <%- include('_showComments'); %>
                
            </li>
        <%}%>
    </ul>
</div>